
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 10px;
  width: 250px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 200px;
}

.card h3 {
  font-size: 1.3em;
  color: #555;
}

.card p {
  color: #777;
  font-size: 0.9em;
}

.btn {
  display: inline-block;
  background: #007BFF; /* Button background color */
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

.btn:hover {
  background: #0056b3; /* Button hover color */
}
.pagination {
  margin: 20px 0;
}

.pagination-btn {
  display: inline-block;
  background: #007BFF; /* Pagination button background color */
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 10px;
}

.pagination-btn:hover {
  background: #0056b3; /* Pagination button hover color */
}